.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav-item {
    float: left;
}

.nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-item a:hover {
    background-color: #111;
}

div {
    display: inline;

}

h1 {
    text-align: center;

    border-bottom: 1px solid grey;
}

#play-button {
    text-align: center;
    border: 1px solid grey;
    background-color: skyblue;
    font-size: 20pt;
    text-decoration: none;
    color: black;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

#play-button:hover {
    background-color: grey;
    color: white;
}

#play-container {
    text-align: center;

}

p {
    font-size: 15pt;
}

h1 {
    font-size: 30pt;
}

h2 {
    font-size: 20pt;

}

body {
    font-size: 15pt;
    text-align: center;
}

li {
    font-size: 15pt;
}

.container {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px;
}

.box {
    display: table-cell;
    border: 1px solid grey;
}

.a, .b {
    width: 20%;
    display: inline;
    float: left;
    border: 1px solid grey;
    margin-left: 5px;
}

div > p {
    width: 100%;
}

ol {
    list-style-position: inside;
}